<section class="hero">
  <div class="hero-in">
    <div class="title">オープンセミナー2016@広島</div>
    <div class="theme">
      <span class="main"><strong>みんなで</strong><small>つくろう</small><strong>モダン</strong><small>な</small><strong>開発現場</strong></span>
    </div>
    <div class="date">
      <span class="year number">2016</span>年<span class="month number">2</span>月<span class="day number">6</span>日(土) <span class="day number">10</span>:00 - <span class="day number">17</span>:00
    </div>
  </div>
</section>
