<div id="speakerHarada" class="speaker abstract">
  <h1 class="title">
    ぐるぐるDDDは何を目指しているのか？
  </h1>
  <div class="speaker-wrap">
    <div class="avatar-wrap">
      <img src="/img/2016-harada.jpg" alt="はらだ きろう アバター">
    </div>
    <h1 class="name-header">
      <span class="name">原田 騎郎</span>
      <span class="yomi">はらだ きろう</span>
    </h1>
    <ul class="sns">
      <li>
        <a href="https://www.facebook.com/haradakiro" title="はらだ きろう Facebook">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/haradakiro" title="はらだ きろう Twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/haradakiro" title="はらだ きろう GitHub">
          <i class="fa fa-github"></i>
        </a>
      </li>
    </ul>

    <h2 class="org">所属</h2>
    <ul class="org">
      <li>
        株式会社アトラクタ
      </li>
    </ul>

    <p>
      最近、国内、海外いろいろなところで「ぐるぐるDDD」というワークショップを実施しています。
      エリックエバンスのDDD本には出てこない、「DDDモデリングのうずまき」というプロセスを、
      45分という短い時間でこなしてみようというワークショップです。なかなか一回ではうまくいかないので、3回くらい繰り返すことが多いです。
      今回は、45分のセッションを繰り返すことで、何が起こるのか？それが、どんな影響を及ぼすのか？
      あたりをお話してみたいと思います。
    </p>
  </div>
  <div class="speaker-wrap-sub">
    <p>
      アジャイルコーチ、ドメインモデラ、サプライチェーンマネジメントのコンサルタント。など、いろいろとやっております。最近は、ハードウェアをまたいじくるようになってしまいまして、ハードウェア開発込みの製品開発をやってみたいなぁと思っています。
    </p>

    <h2>主な著書や登壇歴</h2>

    <ul>
      <li>
        <a href="http://ascii.asciimw.jp/books/books/detail/978-4-04-891236-5.shtml">Software in 30 Days</a> - 翻訳
      </li>
      <li>
        <a href="http://gihyo.jp/magazine/wdpress/archive/2014/vol83">強いチームの作り方 - Web&DB Prsess Vol. 83</a>
      </li>
      <li>
        <a href="http://www.agiletoursingapore.org/">Agile Tour Bangkok, Singapore 2015</a> - 登壇
      </li>
      <li>
        <a href="https://www.scrumalliance.org/courses-events/events/global-gatherings/2015/shanghai-2015">Global Scrum Gathering Shanghai 2015</a> - 登壇
      </li>
      <li>
        <a href="http://2015.scrumgatheringtokyo.org/">
          Regional Scrum Gathering Tokyo
        </a> <a href="http://scrumgatheringvietnam.org/">Ho Chi Minh City 2015</a> - 登壇
      </li>
      <li>
        <a href="http://2015.agilept.org/">
          Agile Portugal 2015
        </a> - 登壇
      </li>
    </ul>
    <p>など著書、翻訳、登壇歴多数</p>

    <h2>ウェブサイト</h2>
    <ul>
      <li>
        <a href="http://kiroh.hateblo.jp/" title="haradakir's blog">haradakiro's blog</a>
      </li>
    </ul>
  </div>
</div>
