# See http://help.github.com/ignore-files/ for more about ignoring files.
_site

# dependencies
node_modules
flow-typed

# testing
coverage

# production
build
dist

# misc
.DS_Store
.env
.cache
npm-debug.log
.idea
tmp
/package-lock.json
/artifacts/
