---
layout: default
title: オープンセミナー2016@広島
permalink: /2016/
---

{% include 2016_hero.html %}

<nav>
  <ul class="hoc">
    <li>
      <a href="/">トップ</a>
    </li>
    <li>
      <a href="#session">セッション</a>
    </li>
    <li>
      <a href="#sponsor">スポンサー</a>
    </li>
    <li>
      <a href="#event>">開催概要</a>
    </li>
  </ul>
</nav>

<div class="body-wrap">
  <section class="content">
    {% include 2016_abstract_text.html %}
  </section>

  <section>
    <h1 id="session" class="header1">セッション情報</h1>
    {% include 2016_speaker_nagasawa.html %}
    {% include 2016_speaker_adachi.html %}
  </section>

  <section class="abstract">
    <h1 id="event" class="header1">開催概要</h1>
    {% include 2016_abstract.html %}
  </section>
</div>
