---
layout: default
title: オープンセミナー2016@広島
permalink: /2016/
---

{% include 2016_hero.html %}

<nav>
  <ul class="hoc">
    <li>
      <a href="/">トップ</a>
    </li>
    <li>
      <a href="#session">セッション</a>
    </li>
    <li>
      <a href="#sponsor">スポンサー</a>
    </li>
    <li>
      <a href="#event>">開催概要</a>
    </li>
    <li>
      <a href="/jobs/">求人情報</a>
    </li>
  </ul>
</nav>

<div class="body-wrap">
  <div class="sns-button-wrap">
    <div class="sns-button">
      {% include 2016_sns.html %}
    </div>
  </div>

  <section class="sponsor-big-wrap">
    <div class="sponsor-big">
      <a href="http://www.orange.co.jp/">
        <img src="/img/orange_468.png" alt="オレンジシステム広島">
      </a>
      <a href="http://www.chatwork.com/ja/">
        <img src="/img/chatwork-468.png" alt="チャットワーク">
      </a>
      <a href="http://party-calendar.net/">
        <img src="/img/omikare-468.png" alt="オミカレ">
      </a>
    </div>
  </section>
  <hr>
  <section class="content-wrap">
    <div class="content">
      <h1>みんなでつくろうモダンな開発環境</h1>
      {% include 2016_abstract_text.html %}
    </div>
  </section>

  <section>
    <h1 id="session" class="header1">セッション情報</h1>
    {% include 2016_speaker_nagasawa.html %}
    {% include 2016_speaker_adachi.html %}
    {% include 2016_speaker_harada.html %}
  </section>


  <section>
    <div class="sponsor-silver-wrap">
      <div class="sponsor-silver">
        <a href="https://www.nextvision.co.jp/">
          <img src="/img/nextvision_234.png" alt="ネクストビジョン">
        </a>
      </div>
      <div class="sponsor-silver">
        <a href="http://linkroad.biz/">
          <img src="/img/linkroad-234.png" alt="リンクロード">
        </a>
      </div>
      <div class="sponsor-silver">
        <a href="http://www.systemfriend.co.jp/">
          <img src="/img/systemfriend_234.jpg" alt="システムフレンド">
        </a>
      </div>
    </div>
  </section>

  <section class="abstract">
    <h1 id="event" class="header1">開催概要</h1>
    {% include 2016_abstract.html %}
  </section>

  <div class="sns-button-wrap">
    <div class="sns-button">
      {% include 2016_sns.html %}
    </div>
  </div>

</div>
