<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">OSH＠2013</a>
      <div class="nav-collapse">
        <ul class="nav">
          <navlink title="TOP" href="#/"></navlink>
          <navlink title="概要" href="#/summary"></navlink>
          <navlink title="お申し込み" href="#/entry"></navlink>
          <navlink title="Q&A" href="#/inquiry"></navlink>
          <navlink title="実行委員紹介" href="#/member"></navlink>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
