<h1 >開 催 概 要</h1>
※　詳細が決まり次第、随時記載します<br>
<br>
<pre style="font-size: 24px;">
  <h2 style="font-size: 36px;">オープンセミナー2013＠広島</h2>

  ■ 開催日時： 2013年 1月19日 10:00 - 17:00


  ■ 受付開始：


  ■ 開催場所： rcc文化センター 6階 601(B1)


  ■ 募集人数： 80名


  ■ アクセス：


  ■ 参加費： 無料


  ■ 昼食会：


  ■ 懇親会： 広島市内でオススメがあれば是非ご連絡ください！！


  ■ 参加申し込み： 詳細決定が次第、募集開始します


  『未成年の方は、必ず保護者の方の同意を得た上でお申込み・ご参加下さい』


  ■ 開催内容　※時間等については調整中です


  開催時間は　10:00　～　17:00　を検討しています


  講師においても決まり次第、随時更新します。


  ■ 主催: オープンセミナー広島実行委員会


  ※　スタッフを募集しております

  <a href="mailto:alftaketomo@gmail.com?subject=OSH@2013のスタッフ募集について">（ご興味がある方は是非ご連絡ください）</a>


  ■ 後援：


  ■ スポンサー：

  <a href="mailto:alftaketomo@gmail.com?subject=OSH@2012のスポンサーについて">絶賛大募集中です！！！</a>


</pre>
