<div class="hero-unit">
  <h1>開 催 概 要</h1>
  <blockquote>
    かつてないほどオープンなセミナーが今、広島で幕を…開けられるかもしれない!!
    <small>OSH 実行委員長</small>
  </blockquote>
</div>

<div class="alert">
  ※ 詳細が決まり次第、随時記載いたします
</div>

<section id="speaker">

  <div class="page-hader">
    <h1>圧倒的 講師陣 <small>見せ場は私だ。</small></h1>
  </div>

  <div class="row-fluid">
    <div class="well span6">
      <h2>櫻庭 祐一</h2>
      <dl><dt>タイトル:</dt><dd>What's New Java SE 8.</dd></dl>
      <dl><dt>アジェンダ:</dt>
        <dd>
          2013年にリリース予定のJava SE 8。Project Jigsawはスキップしてしまったものの、Project Lambdaをはじめとした多くの新機能が予定されています。また、JavaFXやNashornもJava SEに加わることが決まっています。そこで、本セッションではJava SE 8について、Project Lambdaを中心に紹介していきます。
        </dd>
      </dl>
      <ul>
        <li><a href="http://www.javainthebox.net/">Web Site</a></li>
        <li><a href="http://www.javainthebox.com/">Web Log</a></li>
      </ul>
    </div>

    <div class="well span6">
      <h2>谷 雅彦</h2>
      <dl><dt>タイトル:</dt><dd>iOS フレームワークとデータベース</dd></dl>
      <dl><dt>アジェンダ:</dt><dd>
          近日公開予定
        </dd>
      </dl>
      <ul>
        <li><a href="http://www.a10-objects.jp/">エーテンオブジェクツ株式会社</a></li>
      </ul>
    </div>
  </div>

  <div class="row-fluid">
    <div class="well span6">
      <h2>佐藤慎也</h2>
      <dl><dt>タイトル:</dt><dd>Androidを仕事にしよう</dd></dl>
      <dl><dt>アジェンダ:</dt>
        <dd>
          Androidを仕事にして3年。いろいろな事がありました。
これまでにあった様々な経験をもとにAndroidで仕事をするには何を気を付けるべきか、これまでのAndroidの変遷や、これからのトレンド予想などを踏まえて話しをさせて頂きます
        </dd>
      </dl>
      <ul>
        <li><a href="http://sugarspot.net/">SUGARSPOT</a></li>
      </ul>
    </div>

    <div class="well span6">
      <h3>Windows のすごい人</h3>
      調整中
    </div>
  </div>
</section>

<div class="row-fluid">
  <div class="span4">
    <h2>開催日時</h2>
    <p>2013年 1月19日(土) 10:00 - 17:00</p>
  </div>

  <div class="span4">
    <h2>開催場所</h2>
    <p>rcc 文化センター 6階 601(B1)</p>
  </div>

  <div class="span4">
    <h2>参加費</h2>
    <p>無料</p>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <h2>定員</h2>
    80名
  </div>

  <div class="span4">
    <h2>参加申し込み</h2>
    <p>詳細決定が次第、募集開始します</p>
    <p><b>未成年の方は、必ず保護者の方の同意を得た上でお申込み・ご参加下さい</b></p>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <h2>昼食会</h2>
    <p>調整中</p>
  </div>

  <div class="span4">
    <h2>懇親会</h2>
    <p>調整中</p>
    <p>広島市内でオススメがあれば是非ご連絡ください！！</p>
  </div>
  <div class="span4">
    <h2>主催</h2>
    <p>オープンセミナー広島実行委員会</p>
  </div>
</div>

<div class="row-fluid">
  <div class="span4">
    <h2>後援</h2>
    <p><b></b></p>
  </div>

  <div class="sapn4">
    <h2>スポンサー</h2>
    <p><b><a href="mailto:alftaketomo@gmail.com?subject=OSH@2012のスポンサーについて">絶賛大募集中しています</b></p>
  </div>
</div>


<div class="alert alert-success">
  <a href="mailto:alftaketomo@gmail.com?subject=OSH@2013のスタッフ募集について">※ スタッフを募集しております yご興味がある方は是非ご連絡ください</a>
</div>


<!-- pre style="font-size: 24px;">
  ■ 受付開始：

  ■ アクセス：
</pre -->
