<div class="hero-unit">
  <h1>オープンセミナー広島＠2013</h1>
  <p>オープンセミナーとは2003年より中四国地域で開催されているIT技術者向けの無料セミナーです。</p>
  <p>
    オープンセミナーはボランティアによって企画・運営されている非営利セミナーです。現在は香川県、岡山県、徳島県、広島県、愛媛県で開催されています。</p>
  オープンセミナーは各地域での実行委員により開催されており、企画と運営は技術系ユーザコミュニティのボランティアで行われています。
  <p>
    このサイトは2013年1月に開催を予定している広島のオープンセミナーで、すばらしい講師陣をお招きしています。コミュニティ主催のセミナーに参加が始めての方も気軽に起し下さい。
  </p>
  <p>※随時詳細が決まり次第追加していきます。</p>
  <p><a class="btn btn-primary btn-large" href="#/summary">開催概要はこちら &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>開催場所について</h2>
    <p>2013年1月19日 10:00 - 17:00</p>
    <p>rcc文化センター 6階 601(B1)</p>
    <p><a class="btn" href="#/summary">開催場所の詳細はこちら &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>スポンサーについて</h2>
    <p>スポンサーを募集しています。<br />
      スポンサーセッションやアンケート、バナーの掲載等のお問い合わせはお気軽にご連絡ください。</p>
    <p><a class="btn" href="mailto:alftaketomo@gmail.com?subject=OSH@2012のスポンサーについて">お問い合わせはこちら &raquo;</a></P>
  </div>
  <div class="span4">
    <h2>その他お問い合わせ</h2>
    <p>その他のお問い合わせはこちらからお願いします。</p>
    <p>たとえば...</p>
    <ul>
      <li>スタッフの立候補</li>
      <li>セミナーに関するお問い合わせ</li>
    </ul>
</p><a class="btn" href="mailto:alftaketomo@gmail.com?subject=OSHに関するお問い合わせ">お問い合わせはこちら &raquo;</a></p>
