<div id="speakerMisawa" class="speaker abstract">
  <h1 class="title">
    視覚化コミュニケーション 〜ファシリテーション・グラフィックつまみ食い〜
  </h1>
  <div class="speaker-wrap">
    <div class="avatar-wrap">
      <img src="/img/2016-misawa.jpg" alt="みさわ なおか アバター">
    </div>
    <h1 class="name-header">
      <span class="name">三澤 直加</span>
      <span class="yomi">みさわ なおか</span>
    </h1>
    <ul class="sns">
      <li>
        <a href="https://www.facebook.com/nao0oka" title="みさわ なおか Facebook">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
    </ul>

    <h2 class="org">所属</h2>
    <ul class="org">
      <li>
        <a href="http://www.glagrid.jp/">株式会社グラグリッド</a>
      </li>
    </ul>

    <p>
      空中戦になってしまう議論を見える化し、曖昧な理解を具体的なビジョンとして捉えることができるファシリテーション・グラフィック。この視覚化によるコミュニケーションメソッドが、今、企画や開発の現場で注目を浴びています。
      イラスト、記号、図式などの視覚情報で表すビジュアル言語を使い、意思疎通する方法とは？さまざまな事例をもとに、開発プロセスへの導入効果を説明します。
    </p>
  </div>
  <div class="speaker-wrap-sub">
    <p>
      ビジュアルファシリテーター／UXデザインコンサルタント
    </p>
    <p>
      商品企画・開発の現場で、ユーザーにとって価値あるものづくりを進めていくためのプロジェクトファシリテーションを行う。議論の可視化／気づきの可視化／プロセスの可視化を行いながら、ユーザーの価値観に寄り添うものづくりを支援する。また、ファシリテーターの育成にも力を入れており、アイデア創出ファシリテーター、グラフィックレコーダーを多く育成し、排出しています。
    </p>

    <h2>主な著書や登壇歴など</h2>
    <ul>
      <li>
        <a href="https://book.mynavi.jp/ec/products/detail/id=38213">マーケティング／商品企画のための ユーザーインタビューの教科書</a>
      </li>
      <li>
        <a href="http://www.life.tohtech.ac.jp/creative/">東北工業大学 ライフデザイン学部クリエイティブデザイン学科</a> - 講師
      </li>
      <li>
        <a href="http://i-con.or.jp/about.html">NPO法人アイデア創発コミュニティ推進機構理事</a>
      </li>
      <li>
        <a href="https://www.facebook.com/graphicrecord/">グラフィックレコーディング勉強会</a>主査／グラフィックレコーダーネットワーク代表
      </li>
    </ul>

    <h2>ウェブサイト</h2>
    <ul>
      <li>
        <a href="http://www.glagrid.jp/">株式会社グラグリッド</a>
      </li>
    </ul>
  </div>
</div>
