<div class="abstract-wrap">
  <h2>開催日時</h2>
  <p>2016年2月6日(土)</p>

  <h2>会場</h2>
  <p><a href="http://www.pu-hiroshima.ac.jp/site/satellite/introduction.html">サテライトキャンパスひろしま</a> 5F 大講義室 広島市中区大手町 1丁目 5-3</p>

  <h2>テーマ</h2>
  <p>「みんなでつくろうモダンな開発現場」</p>

  <h2>概要</h2>
  {% include 2016_abstract_text.html %}

  <h2>参加費</h2>
  無料

  <h2>懇親会</h2>
  <a href="http://www.shakehands.jp/access.html">コワーキングスペース ShakeHands</a> 広島県広島市中区紙屋町1-4-5 ウィニーズ紙屋町 3F

  <h2>スポンサー</h2>
  <ul>
    <li><strong><a href="http://www.orange.co.jp/">株式会社 オレンジシステム広島</a></strong></li>
    <li><strong><a href="http://party-calendar.net/">オミカレ</a></strong></li>
    <li><strong><a href="http://www.chatwork.com/ja/">ChatWork株式会社</a></strong></li>
    <li><a href="https://www.nextvision.co.jp/">株式会社ネクストビジョン</a></li>
    <li><a href="http://linkroad.biz/">株式会社リンクロード</a></li>
    <li><a href="http://www.systemfriend.co.jp/">株式会社システムフレンド</a></li>
  </ul>

  <h2>スピーカー</h2>
  <ul>
    <li>安達 勇太</li>
    <li>長沢 智治</li>
    <li>原田 騎郎</li>
    <li>三澤 直加</li>
    <li>曽根 壮大</li>
    <li>田中 靖也</li>
    <li>柿木 勝之</li>
  </ul>

  <h2>Twitterのハッシュタグ</h2>
  <a href="https://twitter.com/search?q=%23osh2016&src=typd">#osh2016</a>

  <h2>URL</h2>
  http://osh-web.github.io/2016/

  <h2>イベント名</h2>
  オープンセミナー2016@広島
</div>
