<div id="speakerNagasawa" class="speaker abstract">
  <h1 class="title">
    モダンな開発現場になるためのお作法としてのツール活用
  </h1>
  <div class="speaker-wrap">
    <div class="avatar-wrap">
      <img src="/img/2016-nagasawa.jpg" alt="ながさわ ともはる アバター">
    </div>
    <h1 class="name-header">
      <span class="name">長沢 智治</span>
      <span class="yomi">ながさわ ともはる</span>
    </h1>
    <ul class="sns">
      <li>
        <a href="https://www.facebook.com/tomoharu.nagasawa" title="ながさわ ともはる Facebook">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/tnagasawa" title="ながさわ ともはる Twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
    </ul>

    <h2 class="org">所属</h2>
    <ul class="org">
      <li>
        <a href="https://ja.atlassian.com/">アトラシアン株式会社</a>
      </li>
    </ul>

    <p>
      モダンな開発現場にとっては、チームワークが不可欠です。チームワークと言ってもチームは、開発チームだけではなく、企画や運用、場合によってはユーザーも含めてチームと成りえます。ビジネスニーズを捉え、期待に応え、超えていくためのモダンな開発現場では、ツール活用は不可欠になってきています。このセッションでは、モダンな開発現場としてチームワークを如何なく発揮するために準備しておきたい必要最低限のツール活用を見ていきます。
    </p>
  </div>
  <div class="speaker-wrap-sub">
    <p>
      Scrum Alliance 認定スクラム マスター。
      ７年に渡りマイクロソフトでエバンジェリストを務め現職。 インテック、日本ラショナルソフトウェア、 日本アイ・ビー・エム、ボーランド、マイクロソフト、アトラシアンで6社を経験。
      ソフトウェアライフサイクル全般が専門。特に開発プロセス、アジャイルや DevOps、ツール適用による環境整備とプロセス改善が得意。 趣味は、海水魚飼育、仮面ライダー研究、SPEC研究。
    </p>

    <h2>主な著書や登壇歴</h2>

    <ul>
      <li>
        <a href="http://www.amazon.co.jp/%E3%82%A2%E3%82%B8%E3%83%A3%E3%82%A4%E3%83%AB%E3%82%BD%E3%83%95%E3%83%88%E3%82%A6%E3%82%A7%E3%82%A2%E3%82%A8%E3%83%B3%E3%82%B8%E3%83%8B%E3%82%A2%E3%83%AA%E3%83%B3%E3%82%B0-%E3%83%9E%E3%82%A4%E3%82%AF%E3%83%AD%E3%82%BD%E3%83%95%E3%83%88%E9%96%A2%E9%80%A3%E6%9B%B8-Sam-Guckenheimer/dp/4822294684">アジャイルソフトウェアエンジニアリング</a> 監訳
      </li>
      <li>
        <a href="http://ec.nikkeibp.co.jp/item/books/P98470.html">C#実践開発手法</a> 監訳
      </li>
    </ul>
    <p>その他、共著・監修・推薦文・帯コメントなど多数</p>

    <h2>ウェブサイト</h2>
    <ul>
      <li>
        <a href="http://re-workstyle.com/" title="re:workstyle">re:workstyle</a>
      </li>
    </ul>
  </div>
</div>
