<div id="speakerAdachi" class="speaker abstract">
  <h1 class="title">
    チャットワークのサーバサイドをScalaで刷新するプロジェクトの全貌 (仮)
  </h1>
  <div class="speaker-wrap">
    <div class="avatar-wrap">
      <img src="/img/2016-adachi.jpg" alt="あだち ゆうた アバター">
    </div>
    <h1 class="name-header">
      <span class="name">安達 勇太</span>
      <span class="yomi">あだち ゆうた</span>
    </h1>
    <ul class="sns">
      <li>
        <a href="https://www.facebook.com/adachiyuta" title="あだち ゆうた Facebook">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/uadachi" title="あだち ゆうた Twitter">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/ada-u" title="あだち ゆうた GitHub">
          <i class="fa fa-github"></i>
        </a>
      </li>
    </ul>

    <h2 class="org">所属</h2>
    <ul class="org">
      <li>
        <a href="http://www.chatwork.com/ja/">ChatWork株式会社</a>
      </li>
      <li>
        <a href="http://fpscala-osaka.connpass.com/">FP in Scala読書会 (大阪)</a>
      </li>
    </ul>

    <p>
      チャットワークはサービスインから4年経過し、導入社数が83,000社を超え、毎週1,000万件超のメッセージがやりとりされる大規模サービスへと成長しました。
      これまでPHPで開発していましたが、保守性の改善やアーキテクチャの刷新のため、ScalaでAPIを再実装する決断をしました。本セッションでは、そのScala化プロジェクトの中で取り組んできたドメイン駆動設計やリモート開発体制で効率よく開発を進めるための工夫、チーム間のコミュニケーション方法など、上手くいったこと/失敗したことを洗いざらい紹介させていただきます。
    </p>
  </div>
  <div class="speaker-wrap-sub">
    <p>
      2年前にPHP&インフラのエンジニアとしてチャットワークに入社しました。入社当初は社内の開発基盤を整備したり、PHPを書いていましたが、現在は日々Scalaを書いています。
    </p>

    <h2>主な著書や登壇歴</h2>

    <ul>
      <li>
        <a href="http://summit.scala-kansai.org/" title="Scala関西Summit 2015">Scala関西Summit 2015 「チャットワークScala化プロジェクトの一年」</a> - 登壇
      </li>
      <li>
        <a href="http://gihyo.jp/magazine/SD/archive/2015/201508" title="サービス改善への解答 PHPエンジニア，Scalaを学ぶ！">
          Software Design 2015年8月号 「サービス改善への解答 PHPエンジニア，Scalaを学ぶ！」
        </a>
      </li>
      <li>
        セキュリティ&プログラミングキャンプ 2009 (バイナリ解析組)
      </li>
    </ul>

    <h2>ウェブサイト</h2>
    <ul>
      <li>
        <a href="http://ada-u.com/" title="ada-u.com">ada-u.com</a>
      </li>
    </ul>
  </div>
</div>
