---
layout: default
title: オープンセミナー2016@広島
permalink: /2016/
---

{% include 2016_hero.html %}

<nav>
  <ul class="hoc">
    <li>
      <a href="/">トップ</a>
    </li>
    <li>
      <a href="#session">セッション</a>
    </li>
    <li>
      <a href="#sponsor">スポンサー</a>
    </li>
    <li>
      <a href="#event">開催概要</a>
    </li>
    <li>
      <a href="/jobs/">求人情報</a>
    </li>
  </ul>
</nav>

<div class="body-wrap">
  <section class="content-wrap">
    <div class="content">
      <h1>オープンセミナーとは</h1>
      <div class="abstract-text">
        <p>
          オープンセミナーとは2003年より中四国地域で開催されているIT技術者向けの非営利の無料セミナーです。
        </p>
        <p>
          企画と運営は各地域の技術系ユーザコミュニティのボランティアにより行われています。
        </p>
        <p>
          オープンセミナー2016@広島は82名の来場者でした。
        </p>
      </div>
      <img src="/img/2016_ending.jpg">
      <img src="/img/2016_ending_2.jpg">
      <h1>発表者資料</h1>
      <ul>
        <li>
          <a href="http://www.slideshare.net/Naoka/visual-commnication-for-dev">
            三澤 直加 視覚化コミュニケーション 〜ファシリテーション・グラフィックつまみ食い〜
          </a>
        </li>
        <li>
          <a href="http://www.slideshare.net/tomohn/osh-2016-p">
            長沢 智治 モダンな開発現場になるためのお作法としてのツール活用
          </a>
        </li>
        <li>
          <a href="http://www.slideshare.net/kakimomokuri/2016-58094342">
            柿木 勝之 リーンスタートアップでヘルシープログラマ
          </a>
        </li>
        <li>
          <a href="https://speakerdeck.com/eiel/guan-shu-xing-woxian-chang-nichi-tiip-mukotohamodannafalseka">
            火村 智彦 関数型を現場に持ち込むのはモダンなのか?
          </a>
        </li>
        <li>
          <a href="https://twitter.com/mu2in/status/695883509538250752">
            グラフィックレコーディングまとめ
          </a>
        </li>
        <li>
          <a href="https://github.com/LTDD/Sessions/wiki/LT%E9%A7%86%E5%8B%95%E9%96%8B%E7%99%BA23">懇親会でのLT - LT駆動開発23</a>
        </li>
      </ul>

      <h1>関連</h1>
      <ul>
        <li>
          <a href="http://togetter.com/li/934861">当日のツイート</a>
        </li>
        <li>
          <a href="http://sekico.co/zaseki/646">セキココ</a>
        </li>
        <li>
          <a href="https://www.flickr.com/photos/toro_kun/albums/72157662054475494">当日の写真</a> <a href="https://twitter.com/Toro_kun">Toro_kun撮影</a>
        </li>
        <li>
          <a href="https://www.flickr.com/photos/toro_kun/albums/72157663692327619/with/24557904560">懇親会の写真</a>
        </li>
      </ul>
    </div>
  </section>


  <section class="timetable">
    <h1>タイムテーブル</h1>
    <p><small>タイムテーブルは予定です。なんらかの理由で予定を変更して進行する場合があります。ご注意ください。</small></p>
    <ul>
      <li>
        <span>10:00</span><span>10分</span>
        <span>オープニング</span></li>
      <li>
        <span>10:10</span><span>60分</span>
        <span>三澤さん</span><span class="title">視覚化コミュニケーション 〜ファシリテーション・グラフィックつまみ食い〜</span>
      </li>
      <li><span>11:20</span><span>60分</span>
        <span>安達さん</span><span class="title">チャットワークのサーバサイドをScalaで刷新するプロジェクトの全貌 (仮)</span></li>
      <li>
        <span>12:20</span><span>90分</span><span class="title">昼休憩</span>
      </li>
      <li>
        <span>13:50</span><span>60分</span>
        <span class="title">ライトニングトーク</span>
        <ul>
          <li><span>田中さん</span><span class="title">モダンなコミュニティ活動を通して</span></li>
          <li><span>柿木さん</span><span class="title">リーンスタートアップでヘルシープログラマ</span></li>
          <li><span>和田さん</span><span class="title">独自のテストフレームワーク始めました</span></li>
          <li><span>石崎さん</span><span class="title">オープンデータの取組みとかについて紹介</span></li>
          <li><span>ひむらさん</span><span class="title">関数型を現場に持ち込むことは
モダンなのか?</span></li>
          <li><span>曽根さん</span><span class="title">レガシーな環境からモダンへの挑戦</span></li>
        </ul>
      </li>
      <li>
        <span>15:00</span><span>60分</span><span>原田さん</span>
        <span class="title">ぐるぐるDDDは何を目指しているのか？</span>
      </li>
      <li>
        <span>16:10</span><span>60分</span>
        <span>長沢さん</span><span class="title">モダンな開発現場になるためのお作法としてのツール活用</span>
      </li>
      <li>
        <span>17:10</span><span>10分</span>
        <span>三澤さん</span><span class="title">ふりかえり</span></li>
      <li><span>17:20</span><span>10分</span><span class="title">クロージング</span></li>
      <li><span>18:00</span><span>120分</span>
        <span class="title">懇親会 with LT駆動開発</span></li>
    </ul>
  </section>

    <div class="content">
      <h1>2016年2月6日(土) オープンセミナー2016@広島</h1>
      <h1>テーマ 「みんなでつくろうモダンな開発環境」</h1>
      {% include 2016_abstract_text.html %}
    </div>

  <section class="doorkeeper-widget">
    <a class="doorkeeper-registration-widget" href="https://osh-web.doorkeeper.jp/events/35060">オープンセミナー2016@広島</a><script src="http://widgets.doorkeeper.jp/w/widget.js"></script>
  </section>

  <div class="sns-button-wrap">
    <div class="sns-button">
      {% include 2016_sns.html %}
    </div>
  </div>

  <section class="sponsor-big-wrap">
    <div class="sponsor-big">
      <a href="http://www.orange.co.jp/">
        <img src="/img/orange_468.png" alt="オレンジシステム広島">
      </a>
      <a href="http://party-calendar.net/">
        <img src="/img/omikare-468.png" alt="オミカレ">
      </a>
      <a href="http://www.chatwork.com/ja/">
        <img src="/img/chatwork-468.png" alt="チャットワーク">
      </a>
    </div>
  </section>
  <hr>


  <section>
    <h1 id="session" class="header1">セッション情報</h1>
    {% include 2016_speaker_nagasawa.html %}
    {% include 2016_speaker_adachi.html %}
    {% include 2016_speaker_misawa.html %}
    {% include 2016_speaker_harada.html %}
  </section>


  <section>
    <div class="sponsor-silver-wrap">
      <div class="sponsor-silver">
        <a href="https://www.nextvision.co.jp/">
          <img src="/img/nextvision_234.png" alt="ネクストビジョン">
        </a>
      </div>
      <div class="sponsor-silver">
        <a href="http://linkroad.biz/">
          <img src="/img/linkroad-234.png" alt="リンクロード">
        </a>
      </div>
      <div class="sponsor-silver">
        <a href="http://www.systemfriend.co.jp/">
          <img src="/img/systemfriend_234.png" alt="システムフレンド">
        </a>
      </div>
    </div>
  </section>

  <section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2866.083105913108!2d132.45479394481538!3d34.39461344146264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x355aa20c56f14509%3A0xe63b11ee9a68355b!2z44CSNzMwLTAwNTEg5bqD5bO255yM5bqD5bO25biC5Lit5Yy65aSn5omL55S677yR5LiB55uu77yV4oiS77yT!5e0!3m2!1sja!2sjp!4v1453605939599" width="320" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
  </section>

  <section class="abstract">
    <h1 id="event" class="header1">開催概要</h1>
    {% include 2016_abstract.html %}
  </section>

  <section class="doorkeeper-widget">
    <a class="doorkeeper-registration-widget" href="https://osh-web.doorkeeper.jp/events/35060">オープンセミナー2016@広島</a><script src="http://widgets.doorkeeper.jp/w/widget.js"></script>
  </section>

  <div class="sns-button-wrap">
    <div class="sns-button">
      {% include 2016_sns.html %}
    </div>
  </div>

</div>
