
@import '@material/toolbar/dist/mdc.toolbar.css';
@import '@material/card/dist/mdc.card.css';
@import '@material/typography/dist/mdc.typography.css';
@import "@material/theme/dist/mdc.theme.css";

:root {
  --mdc-theme-primary: #E64A19;
}

body {
  margin: 0;
  background-image: url("./img/noise_bg.png");
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}
