body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("./2017/img/noise_bg.png");
  background-size: 200px 200px;
}
@media screen and (-webkit-min-device-pixel-ratio:2), (min-resolution: 2dppx) {
  body {
    background-image: url("./2017/img/noise_bg@2x.png");
  }
}
