$mdc-theme-primary: #D84315;
$mdc-theme-secondary: #C62828;
/* $mdc-theme-on-primary: #442b2d; */
/* $mdc-theme-on-secondary: #442b2d; */

@import '@material/react-button/index.scss';
@import "@material/react-top-app-bar/index.scss";
@import "@material/react-material-icon/index.scss";
